html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}


/*classes*/
.container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: #e9e9e9;
}

.header {
    width: 100%;
}

#bgVid {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.headerImg {
    width: 100%;
}

.title {
    text-align: center;
    top: 350px;
    background-color: #e9e9e9;
    width: 800px;
    position: absolute;
}

.abt {
    width: 66.6%;
    background-color: #b1b8bc;
}

.img1 {
    width: 33.3%;
    background-color: #b1b8bc;
}

.trafficLights {
    width: 50%;
}

.img2 {
    width: 50%;
}

.animation {
    width: 100%;
}

.smallimg {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

/* this one stays last */
@media screen and (min-width: 900px) {
    .container {
        width: 800px;
        margin: auto;
    }
}
